*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

body {
  font-size: 10px;
  box-sizing: border-box;
  background: #000046;
  background: #c33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c33764, #1d2671);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fefefe;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}